# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# /src/keys.js
# dependencies
/node_modules

# production
/build
/public/manifest.json
/public/offline.html
/public/service-worker.js
/Weather App PWA.lnk

npm-debug.log*
yarn-debug.log*
yarn-error.log*
